<% title('Stocks') %>

<h1>Stocks</h1>

<p>
This is a history of my stock picks and current holdings.  Making this information public forces me to review my decisions.  It also means that people can scrutinize my choices and ask questions or offer me advice (this hasn't happened yet, but here's hoping)!
</p>

<p>
I manage my stocks myself through an online discount brokerage called QuestTrade.  Chelsea and I each have RSP and TFSA accounts and I have an additional unregistered account.  I'll prefer to max out the contribution limits within our TFSAs before using the non-registered account. I'm going to wait until Chelsea is in a higher tax bracket before before contributing any more to our RSPs.  When that happens, I'll open up a spousal RSP account so she can contribute to my RSP.  The tax-sheltered accounts can hold foreign or domestic securities but I'll prefer to buy only Canadian dividend paying stocks in the non-registered account since Canadian dividends are tax sheltered.  
</p>

<p>
I have plans to improve this page to show which holdings are in which accounts, and also to display dividend payouts, which are not shown currently.  Current prices are fetched daily from Google Finance.  Prices and holdings may or may not be current or accurate.  None of this should be taken as financial advice!
</p>

<h3>Executions</h3>

<table id="portfolio">
	<tr>
		<th>Date</th>
		<th>Type</th>
		<th>Company</th>
		<th>Shares</th>
		<th>Price</th>
		<th>Commission</th>
		<th>Amount</th>
	</tr>
	<% for t in @account.executions.reverse %>
	<tr>
		<td><%= t.date %></td>
		<td><%= t.execution_type %></td>
		<td><%= link_to t.stock.company, "http://finance.google.com/finance?q=#{t.stock.symbol}" %></td>
		<td><%= t.shares %></td>
		<td>$<%= sprintf("%.2f", t.price) %></td>
		<td>$<%= gain_or_loss(-t.commission) %></td>
		<td>$<%= gain_or_loss(t.amount) %></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="4"></td>
		<td><strong>Total:</strong></td>
		<td>$<%= gain_or_loss(-@account.commission) %></td>
		<td>$<%= gain_or_loss(@account.balance) %></td>
	</tr>
</table>

<h3>Current Positions</h3>

<table id="positions">
	<tr>
		<th>Company</th>
		<th>Shares</th>
		<th>Avg Purchase Price</th>
		<th>Current Price</th>
		<th>Market Value</th>
		<th>Gain/Loss</th>
		<th>Percent Return</th>
	</tr>
	<% for p in @account.positions %>
	<tr>
		<td><%= link_to p.stock.company, "http://finance.google.com/finance?q=#{p.stock.symbol}" %></td>
		<td><%= p.shares %></td>
		<td>$<%= sprintf("%.2f", p.price) %></td>
		<td>$<%= sprintf("%.2f", p.stock.price) %></td>
		<td>$<%= sprintf("%.2f", p.value) %></td>
		<td>$<%= gain_or_loss(p.gain) %></td>
		<td><%= gain_or_loss(p.percent_return) %>%</td>
	</tr>
	<% end %>
</table>

<h3>Totals</h3>

<table>
	<tr>
		<th>Current Market Value</th>
		<th>Account Balance</th>
		<th>Projected Profit</th>
		<th>Projected Percent Return</th>
	</tr>
	<tr>
		<td>$<%= sprintf("%.2f", @account.market_value) %></td>
		<td>$<%= gain_or_loss(@account.balance) %></td>
		<td>$<%= gain_or_loss(@account.profit) %></td>
		<td><%= gain_or_loss(@account.percent_return) %>%</td>
	</tr>
</table>
