<ul>
	<li><%= link_to 'Home', home_path, :title => 'Home Page' %></li>
	<li><%= link_to 'About', about_path, :title => 'About Page' %></li>
	<li><%= link_to 'Lists', lists_path, :title => 'Lists Page' %></li>
	<li><%= link_to 'Finances', finances_path, :title => 'Finances Page' %></li>
	<li><%= link_to 'Resume', resume_path, :title => 'Resume Page' %></li>
	<li><%= link_to 'Contact', contact_path, :title => 'Contact Page' %></li>
</ul>