<h1>Finances</h1>

<h2>Stock Portfolio</h2>

<h3>Transaction History</h3>

<table id="portfolio">
	<tr>
		<th>Date</th>
		<th>Company</th>
		<th>Symbol</th>
		<th>Shares</th>
		<th>Purchase Price</th>
		<th>Cost</th>
		<th>Current Price</th>
		<th>Current Value</th>
		<th>Gain/Loss</th>
	</tr>
	<% for t in @transactions %>
	<tr>
		<td><%= t.date %></td>
		<td><%= link_to t.company, "http://finance.google.com/finance?q=#{t.symbol}" %></td>
		<td><%= t.symbol %></td>
		<td><%= t.shares %></td>
		<td>$<%= sprintf("%.2f", t.price) %></td>
		<td>$<%= sprintf("%.2f", t.cost) %></td>
		<td>$<%= sprintf("%.2f", t.current_price) %></td>
		<td>$<%= sprintf("%.2f", t.value) %></td>
		<td>$<%= gain_or_loss(t.gain) %></td>
	</tr>
	<% end %>
</table>

<h3>Totals</h3>

<img id="finance" class="framed right" src="/images/finance.jpg" title="Finances" alt="Finances" />

<table id="totals">
	<tr>
		<th colspan="2">&nbsp;</th>
	</tr>
	
	<tr>
		<td>Original Cost</td>
		<td>$<%= sprintf("%.2f", @total_cost) %></td>
	</tr>
	
	<tr>
		<td>Current Market Value</td>
		<td>$<%= sprintf("%.2f", @total_value) %></td>
	</tr>
	
	<tr>
		<td>Overall Gain/Loss</td>
		<td>$<%= gain_or_loss(@total_gain) %></td>
	</tr>
	
	<tr>
		<td>To Date Percent Return</td>
		<td><%= gain_or_loss(@percent_return) %> &#37;</td>
	</tr>
	
	<tr>
		<td>Less Commissions</td>
		<td>$<%= gain_or_loss(@commissions) %></td>
	</tr>
	
	<tr>
		<td><strong>Total Profit/Loss To Date</strong></td>
		<td><strong>$<%= gain_or_loss(@total_profit) %></strong></td>
	</tr>
</table>

<p>
	Prices taken from <%= link_to 'http://finance.google.com', 'http://finance.google.com' %> daily at 4:30pm EST.  <%= link_to 'Click here', expire_cache_path(:page => 'finances') %> to refresh prices now.
</p>