<h1>Finances</h1>

<h2>Stock Portfolio</h2>

<h3>Transaction History</h3>

<table id="portfolio">
	<tr>
		<th>Date</th>
		<th>Company</th>
		<th>Symbol</th>
		<th>Shares</th>
		<th>Cost</th>
		<th>Value</th>
		<th>Gain/Loss</th>
	</tr>
	<% for t in @transactions %>
	<tr>
		<td><%= t.date %></td>
		<td><%= link_to t.stock.company, "http://finance.google.com/finance?q=#{t.stock.symbol}" %></td>
		<td><%= t.stock.symbol %></td>
		<td><%= t.shares %></td>
		<td>$<%= sprintf("%.2f", t.cost) %></td>
		<td>$<%= sprintf("%.2f", t.value) %></td>
		<td>$<%= gain_or_loss(t.gain) %></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="3"></td>
		<td><strong>Total:</strong></td>
		<td>$<%= sprintf("%.2f", @total_cost) %></td>
		<td>$<%= sprintf("%.2f", @total_value) %></td>
		<td>$<%= gain_or_loss(@total_gain) %></td>
	</td>
</table>