<h1>Finances</h1>

<h2>Stock Portfolio</h2>

<h3>Transaction History</h3>

<table id="portfolio">
	<tr>
		<th>Date</th>
		<th>Company</th>
		<th>Symbol</th>
		<th>Shares</th>
		<th>Buy Price</th>
		<th>Current Price</th>
		<th>Gain/Loss</th>
		<th>Percent Return</th>
	</tr>
	<% for t in @transactions %>
	<tr>
		<td><%= t.date %></td>
		<td><%= link_to t.stock.company, "http://finance.google.com/finance?q=#{t.stock.symbol}" %></td>
		<td><%= t.stock.symbol %></td>
		<td><%= t.shares %></td>
		<td>$<%= sprintf("%.2f", t.price) %></td>
		<td>$<%= sprintf("%.2f", t.stock.last_known_price) %></td>
		<td>$<%= gain_or_loss(t.gain) %></td>
		<td><%= gain_or_loss(t.percent_return) %>%</td>
	</tr>
	<% end %>
	<tr>
		<td colspan="5"></td>
		<td><strong>Total:</strong></td>
		<td>$<%= gain_or_loss(@total_gain) %></td>
		<td><%= gain_or_loss(@percent_return) %>%</td>
	</tr>
</table>