<h1>Finances</h1>

<h2>Stock Portfolio</h2>

<h3>Transactions</h3>

<table id="portfolio">
	<tr>
		<th>Date</th>
		<th>Type</th>
		<th>Company</th>
		<th>Symbol</th>
		<th>Shares</th>
		<th>Price</th>
		<th>Current Price</th>
		<th>Commission</th>
		<th>Profit</th>
	</tr>
	<% for t in @transactions %>
	<tr>
		<td><%= t.date %></td>
		<td><%= t.type %></td>
		<td><%= link_to t.stock.company, "http://finance.google.com/finance?q=#{t.stock.symbol}" %></td>
		<td><%= t.stock.symbol %></td>
		<td><%= t.shares %></td>
		<td>$<%= sprintf("%.2f", t.price) %></td>
		<td>$<%= sprintf("%.2f", t.stock.last_known_price) %></td>
		<td>$<%= gain_or_loss(-t.commission) %></td>
		<td>$<%= gain_or_loss(t.profit) %></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="6"></td>
		<td><strong>Total:</strong></td>
		<td>$<%= gain_or_loss(-@commission) %></td>
		<td>$<%= gain_or_loss(@profit) %></td>
	</tr>
</table>

<h3>Current Positions</h3>

<table id="portfolio">
	<tr>
		<th>Company</th>
		<th>Symbol</th>
		<th>Shares</th>
		<th>Avg Price</th>
		<th>Current Price</th>
		<th>Gain/Loss</th>
		<th>Percent Return</th>
	</tr>
	<% for p in @positions %>
	<tr>
		<td><%= link_to p.stock.company, "http://finance.google.com/finance?q=#{t.stock.symbol}" %></td>
		<td><%= p.stock.symbol %></td>
		<td><%= p.shares %></td>
		<td>$<%= sprintf("%.2f", p.price) %></td>
		<td>$<%= sprintf("%.2f", p.stock.last_known_price) %></td>
		<td>$<%= gain_or_loss(p.gain) %></td>
		<td><%= gain_or_loss(p.percent_return) %>%</td>
	</tr>
	<% end %>
	<tr>
		<td colspan="4"></td>
		<td><strong>Total:</strong></td>
		<td>$<%= gain_or_loss(@gain) %></td>
		<td><%= gain_or_loss(@percent_return) %>%</td>
	</tr>
</table>

<p><%= link_to 'Click here', :controller => 'application', :action => 'update_stocks' %> to refresh this page with the latest stock prices from <a href="http://finance.google.com" title="Google Finance">Google Finance</a></p>