<h1>Finances</h1>

<h2><%= @account.name %></h2>

<h3>Transactions</h3>

<table id="portfolio">
	<tr>
		<% if logged_in? %>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<% end %>
		<th>Date</th>
		<th>Type</th>
		<th>Company</th>
		<th>Shares</th>
		<th>Price</th>
		<th>Commission</th>
		<th>Amount</th>
	</tr>
	<% for t in @account.transactions %>
	<tr>
		<% if logged_in? %>
		<td><%= link_to 'Delete', transaction_path(t), :method => :delete %></td>
		<td><%= link_to 'Edit', edit_transaction_path(t) %></td>
		<% end %>
		<td><%= t.date %></td>
		<td><%= t.transaction_type %></td>
		<td><%= link_to t.stock.company, "http://finance.google.com/finance?q=#{t.stock.symbol}" %></td>
		<td><%= t.shares %></td>
		<td>$<%= sprintf("%.2f", t.price) %></td>
		<td>$<%= gain_or_loss(-t.commission) %></td>
		<td>$<%= gain_or_loss(t.amount) %></td>
	</tr>
	<% end %>
	<tr>
		<% if logged_in? %>
		<td colspan="6"></td>
		<% else %>
		<td colspan="4"></td>
		<% end %>
		<td><strong>Total:</strong></td>
		<td>$<%= gain_or_loss(-@account.commission) %></td>
		<td>$<%= gain_or_loss(@account.balance) %></td>
	</tr>
</table>

<% if logged_in? %>
	<p>
		<%= link_to 'Add Transaction', new_transaction_path %>
	</p>
<% end %>

<h3>Current Positions</h3>

<table id="positions">
	<tr>
		<th>Company</th>
		<th>Shares</th>
		<th>Avg Purchase Price</th>
		<th>Current Price</th>
		<th>Market Value</th>
		<th>Gain/Loss</th>
		<th>Percent Return</th>
	</tr>
	<% for p in @account.positions %>
	<tr>
		<td><%= link_to p.stock.company, "http://finance.google.com/finance?q=#{t.stock.symbol}" %></td>
		<td><%= p.shares %></td>
		<td>$<%= sprintf("%.2f", p.price) %></td>
		<td>$<%= sprintf("%.2f", p.stock.last_known_price) %></td>
		<td>$<%= sprintf("%.2f", p.value) %></td>
		<td>$<%= gain_or_loss(p.gain) %></td>
		<td><%= gain_or_loss(p.percent_return) %>%</td>
	</tr>
	<% end %>
</table>

<h3>Totals</h3>

<table>
	<tr>
		<th>Current Market Value</th>
		<th>Account Balance</th>
		<th>Projected Profit</th>
		<th>Projected Percent Return</th>
	</tr>
	<tr>
		<td>$<%= sprintf("%.2f", @account.market_value) %></td>
		<td>$<%= gain_or_loss(@account.balance) %></td>
		<td>$<%= gain_or_loss(@account.profit) %></td>
		<td><%= gain_or_loss(@account.percent_return) %>%</td>
	</tr>
</table>

<p><%= link_to 'Click here', update_stocks_path %> to refresh this page with the latest stock prices from <a href="http://finance.google.com" title="Google Finance">Google Finance</a></p>

