<% content_for :head do %>
  <%= javascript_include_tag "executions" %>
<% end %>

<label for="date">Date</label>
<%= f.text_field :date %>
<br />

<label for="date">Account</label>
<%= collection_select :execution, :account_id, Account.find(:all), :id, :name %>
<br />

<label for="type">Type</label>
<%= select :execution, :execution_type, ['Buy','Sell'] %>
<br />

<label for="stock">Stock</label>
<%= collection_select :execution, :stock_id, Stock.find(:all), :id, :company %>
<br />

<label for="shares">Shares</label>
<%= f.text_field :shares %>
<br />

<label for="price">Price</label>
<%= f.text_field :price %>
<br />
