<h1>New company</h1>

<%= error_messages_for :company %>

<%= form_for(@company) do |f| %>
  <p>
	<%= render :partial => 'form' %>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', companies_path %>
