

<label for="date">Date</label>
<%= f.text_field :date %>
<br />

<label for="type">Type</label>
<%= select :transaction, :transaction_type, [['Buy', 'b'], ['Sell', 's']] %>
<br />

<label for="stock">Stock</label>
<%= collection_select :transaction, :stock_id, Stock.find(:all), :id, :company %>
<br />

<label for="shares">Shares</label>
<%= f.text_field :shares %>
<br />

<label for="price">Price</label>
<%= f.text_field :price %>
<br />

