<%= render :partial => 'layouts/sidebar' %>

<div id="news" class="left">
  <% @posts.each do |post| %>
    <div class="post">
      <span class="date"><%= post.created_at.strftime('%B %d, %Y') %></span>
      <span class="title"><%= link_to post.title, post_path(post) %></span>

      <p class="body">
        <%= raw post.body %>
      </p>
    </div>
  <% end %>

  <%= link_to 'More...', posts_path %>
</div>
