<div id="sidebar" class="right">
  <img src="/images/me.jpg" alt="Adam Soltys" title="Me" />

  <p>
    Thanks for visiting my homepage.  Please <a href="/contact" title="Contact Page">let me know</a> if you have any suggestions. 
  </p>
</div>


<div id="news" class="left">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="date"><%= link_to post.created_at.strftime('%B %d, %Y'), post_path(post) %></div>
      <%= post.body %>

      <% if logged_in? %>
      <p>
        <%= link_to 'Edit', edit_post_path(post) %>
        &nbsp;
        <%= link_to 'Delete', post_path(post), :method => :delete %>
      </p>
      <% end %>
    </div>
  <% end %>

  <% if logged_in? %>
    <p>
      <%= link_to 'Add Post', new_post_path %>
    </p>
  <% end %>
</div>
