<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Adam Soltys<%= " - #{@content_for_title}" if @content_for_title %></title>
    <meta http-equiv="Content-Type" content="application/xml+xhtml; charset=UTF-8" />
    <meta name="keywords" content="Adam Soltys, Web Developer, ColdFusion, Ruby on Rails" />
    <meta name="description" content="The personal website of Adam Soltys, a civil servant and web developer living in Edmonton, Alberta." />
    <meta name="google-site-verification" content="2AYt75ME47Uyj4mCjxAVaUNiqJCRW3OXE3nqH3gX8RE" />
	
    <%= stylesheet_link_tag :all, :cache => true %>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="http://feeds.feedburner.com/asoltys" />

    <%= yield :head %>

    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  
  <body>  
    <div id="container">
      <div id="header">
        <h1><a href="/" title="Adam Soltys">Adam Soltys</a></h1>
        <h2>Personal Homepage</h2>
      </div>
    
      <div id="banner">
        <%= image_tag "countryside.jpg" %>
      </div>
    
      <div id="menu">
        <%= render :partial => 'layouts/navigation' %>
      </div>
  
      <div id="content">
        <%= "<h1>#{@content_for_title}</h1>" if @content_for_title %>
        <%= content_for :layout %>
      </div>
    
      <div id="footer">
        <div class="left">
          <strong>Adam Soltys</strong>.  <a href="http://github.com/asoltys/adam-soltys-homepage" title="Homepage on Github">No rights reserved.</a>
        </div>
        
        <div class="hcard right">
					<strong>Phone:</strong>
					<span class="tel">(780) 263 6745</span>
          <strong>Email:</strong> 
					<a class="email" href="mailto:asoltys@gmail.com">asoltys@gmail.com</a>
        </div>
      </div>
    </div>

    <script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-3917084-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
