<table id="positions">
	<tr>
		<th>Company</th>
		<th>Shares</th>
		<th>Avg Purchase Price</th>
		<th>Current Price</th>
		<th>Market Value</th>
		<th>Gain/Loss</th>
		<th>Percent Return</th>
	</tr>
	<% for p in @account.positions %>
	<tr>
		<td><%= link_to p.stock.company, "http://finance.google.com/finance?q=#{t.stock.symbol}" %></td>
		<td><%= p.shares %></td>
		<td>$<%= sprintf("%.2f", p.price) %></td>
		<td>$<%= sprintf("%.2f", p.stock.price) %></td>
		<td>$<%= sprintf("%.2f", p.value) %></td>
		<td>$<%= gain_or_loss(p.gain) %></td>
		<td><%= gain_or_loss(p.percent_return) %>%</td>
	</tr>
	<% end %>
</table>